<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AB1Project | Ошибка</title>

        {% load static %}
        <link href="{% static "/index2/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "/index2/css/font-awesome.css" %}" rel="stylesheet">

        <link href="{% static "/index2/css/animate.css" %}" rel="stylesheet">
        <link href="{% static "/index2/css/style.css" %}" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Internal Server Error</h3>

        <div class="error-desc">
            Произошла ошибка. Обратитесь к администратору<br/>
            <br/><a href="{% url "index" %}" class="btn btn-primary m-t">На главную</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static "index2/js/jquery-3.js" %}"></script>
    <script src="{% static "index2/js/bootstrap.js" %}"></script>


</body>

</html>
