<div class="table-responsive">
        <table class="table table-striped">       
                <thead>
                        <tr>                            
                            <th>name </th>                            
                            <th>status</th>                                                   
                            
                        </tr>
                        </thead>                         
            <tbody>
                {% for k in context_objects  %}
                <tr>                                        
                        <td>{{ k.name }}</td>
                        <td>ok</td>                    
                 </tr>
               {% endfor %}
            </tbody>
        </table>
</div>
