{% extends "console/layout.html" %}
{% load static %}
{% load tags %}
{% block tabs_container %}
<div class="row" style="padding-bottom:10px;">
    <div class="col-sm-6">
        <div class="input-group">
            <input type="text" placeholder="Введите имя узла" class="input-sm form-control typeahead_2"> 
            <span class="input-group-btn">
                <button id="chart_filter" type="button" class="btn btn-sm btn-primary">Найти</button> 
            </span>
        </div>
    </div> 
</div> 
<div class="wrapper wrapper-content animated fadeInRight" id="chart_box">
    <!-- {% for row in sensors|batch %}
        <div class="row">
            {% for s in row %}
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{s.name}}</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <canvas id="chart_{{s.name}}" height="206" width="442"
                                 style="display: block; width: 442px; height: 206px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>            
    {% endfor %} -->
</div>
{% endblock %}


{% block js %}
<script src="{% static "/vendor/js/Chart.min.js" %}"></script>

<script src="{% static "/vendor/js/bootstrap3-typeahead.min.js" %}"></script>
<script src="{% static "/js/dashboard.js" %}?v6"></script>
{% endblock %}

