<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AB1Project</title>

    {% load static %}

    <link href="{% static "/vendor/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "/vendor/css/font-awesome.css" %}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{% static "/vendor/css/toastr.css" %}" rel="stylesheet">

    <!-- Gritter -->
    <!--link href="{% static "/css/jquery.css" %}" rel="stylesheet"-->

    <link href="{% static "/vendor/css/animate.css" %}" rel="stylesheet">
    <link href="{% static "/vendor/css/style.css" %}" rel="stylesheet">
    <link href="{% static "/vendor/css/jstooltip.css" %}" rel="stylesheet">
    <link href="{% static "/vendor/css/jquery-ui.css" %}" rel="stylesheet">
    <link href="{% static "/vendor/css/resize.css" %}" rel="stylesheet">    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="{% static "/vendor/css/style.css" %}" rel="stylesheet">
    <link href="{% static "/css/resources.css" %}" rel="stylesheet">


    <link href="{% static "/vendor/jstree/themes/default/style.css" %}" rel="stylesheet">
    <link href="{% static "/vendor/css/jasny-bootstrap.min.css" %}" rel="stylesheet">


    {% block css %}    
    {% endblock %}
    
 </head>

<body class="pace-done mini-navbar">
  <div class="pace  pace-inactive">
    <div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
  <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu mini-navbar" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="{% static "/img/slack.jpg" %}">
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                              <span class="clear">
                                  <span class="block m-t-xs">
                                    <strong class="font-bold">{{ request.user.first_name }}</strong>
                                  </span>
                                  <span class="text-muted text-xs block">{{ request.user.groups.all.0 }}
                                        <b class="caret"></b>
                                  </span>
                               </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="{% url "index" %}">Профиль</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url "logout" %}">Выход</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            AB1
                        </div>
                    </li>

                    <li>
                        <a href="#index_tab" class="menu_custom"><i class="fa fa-bar-chart-o" title="Dashboard"></i> <span class="nav-label">Dashboard</span></a>
                    </li>
                    
                    <li>
                        <a href="#user_tab" class="menu_custom"><i class="fa fa-users" title="Users"></i> <span class="nav-label">Users</span></a>
                    </li>

                    <li>
                        <a href="#resources_tab" class="menu_custom"><i class="fa fa-database" title="Resources"></i> <span class="nav-label">Resources</span></a>
                    </li>
                    
                    <li>
                        <a href="#utilities_tab" class="menu_custom"><i class="fa fa-plug" title="Utilities"></i> <span class="nav-label">Utilities</span></a>
                    </li>
                    <li>
                        <a href="#settings_tab" class="menu_custom"><i class="fa fa-gears" title="Settings"></i> <span class="nav-label">Settings</span></a>
                    </li>
                    <li>
                        <a href="#status_tab" class="menu_custom"><i class="fa fa-info-circle" title="Status"></i> <span class="nav-label">Status</span></a>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1" style="min-height: 642px;">
          <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
              <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <!--form role="search" class="navbar-form-custom" action="search_results.html">
                    <div class="form-group">
                        <input placeholder="Поиск..." class="form-control" name="top-search" id="top-search" type="text">
                    </div>
                </form-->
            </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                      <a href="{% url "index" %}" class="set_en active" style="padding-right:1px">
                        <img src="{% static "/img/Russia.png" %}"></a>
                    </li>
                    <li>
                      <a href="{% url "en" %}" class="set_en" style="padding-left:1px">
                        <img src="{% static "/img/uk.png" %}"></a>
                    </li>

                </ul>
            </nav>
          </div>
          <div class="row  border-bottom white-bg dashboard-header">
            <div class="wrapper wrapper-content fadeIn">
              <div class="row">
                <div class="col-lg-12" id="tabs_content">
                 </div>
              </div>
            </div>
            <!--console log -->
            <div class="wrapper wrapper-content fadeIn">
              <div class="row">
                <div class="col-lg-12">
                  <div id="resize" class="demodiv log-container">
                      <div class="log"></div>
                  </div>
                 </div>
              </div>
            </div>

          <!--end  log -->
          </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static "/vendor/js/jquery-3.js" %}"></script>
    <!--script src="{% static "/js/jquery-3.1.1.min.js" %}"></script-->
    <script src="{% static "/vendor/js/bootstrap.js" %}"></script>
    <script src="{% static "/vendor/js/jquery.js" %}"></script>
    <script src="{% static "/vendor/js/inspinia.js" %}"></script>
    <script src="{% static "/vendor/js/pace.js" %}"></script>
    <!-- jQuery UI -->
    <!-- GITTER -->

    <script src="{% static "/vendor/js/jquery_005.js" %}"></script>

    <script src="{% static "/vendor/js/layout.js" %}"></script>

    <script src="{% static "/vendor/js/mqttws31.js" %}"></script>
    <script src="{% static "/vendor/js/moment.min.js" %}"></script>
    <script src="{% static "/js/ws.js" %}"></script>

    <script src="{% static "/js/res_tab.js" %}?v2"></script>
    <script src="{% static "/js/tabs.js" %}"></script>
    <script src="{% static "/vendor/js/jquery-ui.js" %}"></script>
    <script>
            $('#resize').resizable({
            helper: "ui-resizable-helper",
            grid: [10, 10]
        });
    </script>


    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>

    <script src="{% static "/js/dtSettings.js" %}"></script>
    <script src="{% static "/js/gatewayDt.js" %}?v2"></script>
    <script src="{% static "/js/nodesDt.js" %}"></script>
    <script src="{% static "/js/sensorDt.js" %}"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script> 
    <script src="{% static "/js/index.js" %}"></script>


    <script src="{% static "/vendor/js/jasny-bootstrap.min.js" %}"></script>
    <script src="{% static "/vendor/jstree/jstree.min.js" %}"></script>
    <script src="{% static "/js/utils.js" %}"></script>

  </body>

</html>
