<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AB1Project | Journal </title>

        {% load static %}
        <link href="{% static "/index2/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "/index2/css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "/index2/css/animate.css" %}" rel="stylesheet">
        <link href="{% static "/index2/css/style.css" %}" rel="stylesheet">
        <link href="{% static "/index2/css/style.css" %}" rel="stylesheet">
	<style type="text/css">
        .error-desc {
    	    padding: 50px;
	}
	</style>
</head>

<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h3 class="font-bold">Live MQTT log</h3>
    </div>
	<div class="error-desc log">
        </div>

    <!-- Mainly scripts -->
    <script src="{% static "index2/js/jquery-3.js" %}"></script>
    <script src="{% static "index2/js/bootstrap.js" %}"></script>
    <script src="{% static "index2/js/mqttws31.js" %}"></script>
    <script src="{% static "index2/js/ws.js" %}"></script>




</body>

</html>
