{% extends "console/layout.html" %}


{% load static %}

{% block css %}
<link href="{% static "/css/resources.css" %}" rel="stylesheet">
{% endblock %}



{% block tabs_container %}

<div class="tabs-container">
    <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#gateways" aria-expanded="false">Gateways</a></li>
            <li class=""><a data-toggle="tab" href="#nodes" aria-expanded="false">Nodes</a></li>
            <li class=""><a data-toggle="tab" href="#sensors" aria-expanded="false">Sensors</a></li>
    </ul>
            <div class="tab-content">               
                <div id="gateways" class="tab-pane active">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">                                        
                                        <div class="table-responsive">
                                                        <table class="table table-striped">
                                                        <thead>
                                                        <tr>                                        
                                                            <th><b>{{gateways.count}} Results</b></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>                                                                                                
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for g in gateways %}
                                                            <tr>                                                       
                                                                <td><div class="gws_table">
                                                                    <b>{{ g.node_uid }}</b>
                                                                    <br>uid: {{ g.name }}
                                                                    <br>Nodes: {{ g.nodes }} Sensors: {{ g.sensors }}                                                           
                                                                    </div>
                                                                    </td>         
                                                                    <td><div class="gws_table">
                                                                        <b>{{ g.status|default:"no status data" }}</b>
                                                                        <br>{{ g.connection.broker_host }}
                                                                        <br>{{ g.client.email|default:"no Client" }}
                                                                    </div>
                                                                    </td>                                                                    
                                                                    <td><div class="gws_table">                                                                        
                                                                        <b>{{ g.node_type|default:"no node_type" }}</b>
                                                                        <br>rssi: {{ g.rssi }} dB
                                                                        <br>Bat: {{ g.bat_level }} %                                                                        
                                                                    </div>
                                                                    </td>         
                                                                    <td><div class="gws_table">
                                                                        <b>Version</b>
                                                                        <br>{{ g.library }} / {{g.firmware_min}}
                                                                        <br>FW -> {{g.firmware_min}}                                                                    
                                                                    </div>
                                                                        
                                                                    </td>         
                                                                    <td>
                                                                        <b>Time</b>
                                                                        <br>{{ g.send_status_ago }}
                                                                        <br>{{ g.status_seen_ago }}
                                                                    </td>         
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                        </table>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>                                
                        </div>
                </div>
                <div id="nodes" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">                                        
                                            <div class="table-responsive">
                                                            <table class="table table-striped">
                                                            <thead>
                                                            <tr>                                        
                                                                <th><b>{{nodes.count}} Results</b></th
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>                                                                                                
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for n in nodes %}
                                                                <tr>                                                       
                                                                    <td><div class="gws_table">
                                                                        <b>{{ n.name }}</b>
                                                                        <br>eui: {{ n.eui_short }} peui: {{ n.parent }}
                                                                        <br>Sensors: {{ n.sensors }}                                                           
                                                                    </div>
                                                                        </td>         
                                                                        <td><div class="gws_table">
                                                                            <b>{{ n.status|default:"no status data" }}</b>
                                                                            <br>{{ n.gw }}
                                                                            <br>{{ n.client }}
                                                                        </div>
                                                                        </td>                                                                    
                                                                        <td><div class="gws_table">
                                                                            <b>{{ n.node_type|default:"no node_type" }}</b>
                                                                            <br>rssi: {{ n.rssi }} dB
                                                                            <br>Bat: {{ n.bat_level }} %
                                                                        </div>
                                                                        </td>         
                                                                        <td><div class="gws_table">
                                                                            <b>Version</b>
                                                                            <br>{{ n.library }} / {{n.firmware_min}}
                                                                            <br>FW -> {{n.firmware_min}}                                                                    
                                                                        </div>
                                                                        </td>         
                                                                        <td>
                                                                            <b>Time</b>
                                                                            <br>{{ n.time }}         
                                                                            <br>{{ n.status_seen_ago }}                                                       
                                                                        </td>         
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>                                
                            </div>
                    </div>
                    <div id="sensors" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">                                        
                                                <div class="table-responsive">
                                                                <table class="table table-striped">
                                                                <thead>
                                                                <tr>                                        
                                                                    <th><b>{{ sensors.count }} Results</b></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>                                                                                                
                                                                    <th></th>                      
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for s in sensors %}
                                                                    <tr>                                                       
                                                                        <td><div class="gws_table">
                                                                            <b>{{ s.name }}</b>
                                                                            <br>sid: {{ s.child_sensor_id }} eui: {{ s.eui_s }}
                                                                        </div>     
                                                                        </td>         
                                                                        <td><div class="gws_table">
                                                                           {{ s.node.name }}                                                                                
                                                                           <br>{{ s.eui }}   
                                                                        </div>     
                                                                        </td>                                                                    
                                                                        <td><div class="gws_table">
                                                                           {{ s.node_type }}                                         
                                                                        </div>     
                                                                        </td>         
                                                                        <td><div class="gws_table">                                                                                                                                                    
                                                                           {% for i in s.sens_data %}
                                                                            {{ i.variable_type }} <br>    
                                                                           {% endfor %}
                                                                        </div>     
                                                                        </td>         
                                                                        <td><div class="gws_table">
                                                                            <b>Value</b>                                                                     
                                                                           {% for i in s.sens_data %}
                                                                            <br>{{ i.value }}
                                                                           {% endfor %}                                                                           
                                                                        </td>         
                                                                        <td>
                                                                           <b>Time</b>
                                                                           {% for i in s.sens_data %}
                                                                                <br>{{ i.time}}
                                                                            {% endfor %}                                                            
                                                                        </td>         
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>                                
                                </div>
                        </div>       
            </div>         
</div>

{% endblock %}
