
<div class="tabs-container">
    <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#gateways" aria-expanded="false">Gateways</a></li>
            <li class=""><a data-toggle="tab" href="#nodes" aria-expanded="false">Nodes</a></li>
            <li class=""><a data-toggle="tab" href="#sensors" aria-expanded="false">Sensors</a></li>
    </ul>
            <div class="tab-content">               
                <div id="gateways" class="tab-pane active">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">                                        
                                        <div class="table-responsive">
                                                        <table class="table table-striped" id="GatewayTable">
                                                        </table>

                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>                                
                        </div>
                </div>
                <div id="nodes" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">                                        
                                            <div class="table-responsive">

                                                    <table class="table table-striped" id="NodeTable">
                                                        </table>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>                                
                            </div>
                    </div>
                    <div id="sensors" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">                                        
                                                <div class="table-responsive">
                                   
                                                        <table class="table table-striped" id="SensorTable">
                                                            </table>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>                                
                                </div>
                        </div>       
            </div>         
</div>


