{% extends "console/layout.html" %}


{% load static %}

{% block css %}
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet">
<link href="{% static "/vendor/css/style.css" %}" rel="stylesheet">
<link href="{% static "/css/resources.css" %}" rel="stylesheet">
{% endblock %}



{% block tabs_container %}

<div class="tabs-container">
    <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#gateways" aria-expanded="false">Gateways</a></li>
            <li class=""><a data-toggle="tab" href="#nodes" aria-expanded="false">Nodes</a></li>
            <li class=""><a data-toggle="tab" href="#sensors" aria-expanded="false">Sensors</a></li>
    </ul>
            <div class="tab-content">               
                <div id="gateways" class="tab-pane active">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">                                        
                                        <div class="table-responsive">
                                                        <table class="table table-striped" id="GatewayTable">
                                                        </table>

                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>                                
                        </div>
                </div>
                <div id="nodes" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">                                        
                                            <div class="table-responsive">

                                                    <table class="table table-striped" id="NodeTable">
                                                        </table>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>                                
                            </div>
                    </div>
                    <div id="sensors" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">                                        
                                                <div class="table-responsive">
                                   
                                                        <table class="table table-striped" id="SensorTable">
                                                            </table>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>                                
                                </div>
                        </div>       
            </div>         
</div>


<div class="modal inmodal in" id="gate_modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content fadeIn">
                <div class="modal-body">
                  <div class="row" id="node_info">
                      </div>

                  <div class="row">
                    <div class="form-group col-md-6"> 
                          
                        <select name="node_commnand_list" class="form-control" maxlength="100" id="node_commnand_list">
                            <option value="-1"></option>
                            {% for c in commands %}
                            <option value="{{ c.pk }}">{{ c.name }}</option>  
                            {% endfor %}
                        </select>

                        <span class="input-group-btn">
                                <button id="send_command" type="button" class="btn btn-sm btn-primary">Отправить</button> 
                        </span>
                        <span id="send_result">
                            
                        </span>
                    </div>
                </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <!--button type="button" class="btn btn-primary">Save changes</button-->
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal in" id="node_edit" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content fadeIn">
                <div class="modal-body">
                    <div class="row" id="node_edit_info">
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" id="save_node_edit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal in" id="node_delete" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content fadeIn">
                <div class="modal-body">
                    <span>Вы действительно хотите удалить узел?</span>
                </div>
            <div class="modal-footer">
                <button type="button" id="delete_node_button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>

<script src="{% static "/js/dtSettings.js" %}?v2"></script>
<script src="{% static "/js/gatewayDt.js" %}?v2"></script>
<script src="{% static "/js/nodesDt.js" %}?v2"></script>
<script src="{% static "/js/sensorDt.js" %}"></script>
<script src="{% static "/js/res.js" %}?v2"></script>
{% endblock %}