{% extends "console/layout.html" %}
{% load static %}
{% block tabs_container %}

<div class="tabs-container">
     <ul class="nav nav-tabs">
         <li class=""><a data-toggle="tab" href="#info" aria-expanded="true"> Info </a></li>
         <li class="active"><a data-toggle="tab" href="#Firmwares" aria-expanded="false">System status</a></li>
         <li class=""><a data-toggle="tab" href="#servers" aria-expanded="false">Logs</a></li>
         <li class=""><a data-toggle="tab" href="#servers" aria-expanded="false">About</a></li>
     </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane">
                        <div class="panel-body">
                            <strong>some status information</strong>
                            <p>some info about our system</p>
                        </div>
                    </div>
        <div id="Firmwares" class="tab-pane">
                        <div class="panel-body">
                            <strong>some system information</strong>
                            <p>some info about Firmwares</p>
                        </div>
                    </div>
        <div id="servers" class="tab-pane active">
          <div class="panel-body">
              <strong>node #1</strong>
              <p>some info about nodoes</p>
          </div>
      </div>
        </div>
  </div>
</div>

{% endblock %}
