<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AB1 Project | Вход</title>
    {% load static %}
    <link href="{% static "/vendor/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "/vendor/css/font-awesome.css" %}" rel="stylesheet">

    <link href="{% static "/vendor/css/animate.css" %}" rel="stylesheet">
    <link href="{% static "/vendor/css/style.css" %}" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">AB1</h1>

            </div>
            <h4>Спасибо, что пользовались системой</h4>
            <a href="{% url "login" %}">Войти снова</a>


            <p class="m-t"> <small>AB1 Project &copy; 2017</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static "vendor/js/jquery-3.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap.js" %}"></script>

</body>

</html>
