<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AB1 Project | Вход</title>
    {% load static %}
    <link href="{% static "vendor/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "vendor/css/font-awesome.css" %}" rel="stylesheet">

    <link href="{% static "vendor/css/animate.css" %}" rel="stylesheet">
    <link href="{% static "vendor/css/style.css" %}" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h3 class="logo-name">AB1</h3>

            </div>
            <h3>Добро пожаловать!</h3>

            <p>Пожалуйста введите логин и пароль.</p>
            {% if form.errors %}
                      <p style="color:red;">Логин или пароль не верны, повторите попытку или обратитесь к администратору</p>
            {% endif %}
            <form class="m-t" method="post" action="{% url "login" %}">
              {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="логин">
                </div>
                <div class="form-group ">
                    <input type="password" name="password" class="form-control" placeholder="пароль">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Войти</button>
                <input type="hidden" name="next" value="/console">


                <p class="text-muted text-center"><small>Вход в Бекенд, учетные записи предоставляет Администратор</small></p>

                <!-- a href="#"><small>Забыли пароль?</small></a>
                <p class="text-muted text-center"><small>Вход в Бекенд, учетные записи предоставляет Администратор</small></p>
                <a class="btn btn-sm btn-white btn-block" href="{% url "signup" %}">Зарегистируйтесь</a -->
            </form>
            <p class="m-t"> <small>AB1 Project &copy; 2017 - {{ current_year }}</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static "vendor/js/jquery-3.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap.js" %}"></script>

</body>

</html>
