<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AB1Project | Регистрация</title>

    {% load static %}
    {% load tags %}
    <link href="{% static "/index2/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "/index2/css/font-awesome.css" %}" rel="stylesheet">

    <link href="{% static "/index2/css/animate.css" %}" rel="stylesheet">
    <link href="{% static "/index2/css/style.css" %}" rel="stylesheet">

    <link href="{% static "/index2/css/custom.css" %}" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
                <h3 class="logo-name">AB1</h3>
            </div>
            <h3>Зарегистрируйтесь в AB1</h3>
            <p>Создайте учетную запись для использования системы</p>
            <form class="m-t" role="form" action="{% url "signup" %}" method="post">
              <p style="color:red;">{{ form.username.errors|striptags }}</p>
              <div class="form-group">
                  <input type="text" name="username" class="form-control" placeholder="Логин" required="">
              </div>
              <p style="color:red;">{{ form.email.errors|striptags }}</p>
              <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email" required="">
              </div>
              <p style="color:red;">{{ form.password.errors|striptags }}</p>
              <div class="form-group">
                  <input type="password" name="password1" class="form-control" placeholder="Пароль" required="">
              </div>
              <p style="color:red;">{{ form.password2.errors|striptags }}</p>
              <div class="form-group">
                  <input type="password" name="password2" class="form-control" placeholder="Повторите пароль" required="">
              </div>
              <div class="form-group">
                      <div class="checkbox i-checks"><label class="">
                        <div class="icheckbox_square-green" style="position: relative;">
                          <input type="checkbox" style="position: absolute; opacity: 0;">
                          <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%;
                          display: block; width: 100%; height: 100%; margin: 0px; padding: 0px;
                           background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><i>
                           </i>Согласен с правилами работы в системе</label></div>
              </div>
                <button type="submit" value="Register" class="btn btn-primary block full-width m-b" disabled="true">Зарегистриоваться</button>

                <p class="text-muted text-center"><small>Уже есть аккаунт?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="{% url "login" %}">Войти</a>
            </form>
            <p class="m-t"> <small>AB1 Project &copy; 2014</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static "index2/js/jquery-3.js" %}"></script>
    <script src="{% static "index2/js/bootstrap.js" %}"></script>
    <!-- iCheck -->
    <script src="{% static "index2/js/icheck.min.js" %}"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
        $('input').on('ifChecked', function(event){
          $('.m-b').removeAttr('disabled');
        });
        $('input').on('ifUnchecked', function(event){
          $('.m-b').attr('disabled','true');
        });
    </script>
</body>

</html>
