.gws_table {    
    border-right: 1px solid #e7eaec;    
  }

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
}

.paginate_button {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.paginate_button current {
  background-color: #f4f4f4;
  border-color: #DDDDDD;
  color: inherit;
  cursor: default;
  z-index: 2;
}


label {
  /* Other styling.. */
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;

}

.GatewayTable_filter {
  display: table;
}