{% load tags %}

<div class="tabs-container">
     <ul class="nav nav-tabs">
         <li class="active"><a data-toggle="tab" href="#System" aria-expanded="false">System</a></li>
         <li class=""><a data-toggle="tab" href="#Notifications" aria-expanded="false">Notifications</a></li>
         <li class=""><a data-toggle="tab" href="#Metrics" aria-expanded="false">Metrics</a></li>
         <li class=""><a data-toggle="tab" href="#mqtt" aria-expanded="false"> MQTT Connectors</a></li>
         <li class=""><a data-toggle="tab" href="#ms" aria-expanded="false">Mobile server</a></li>
         <li class=""><a data-toggle="tab" href="#vm" aria-expanded="false">Variables mapper</a></li>
         <li class=""><a data-toggle="tab" href="#user" aria-expanded="false">Users and Roles</a></li>
         <li class=""><a data-toggle="tab" href="#Backup" aria-expanded="false">Backup</a></li>
     </ul>
    <div class="tab-content">
      <div id="mqtt" class="tab-pane">
          <div class="panel-body">
              <form class="m-t" action="/console/settings" method="post">
                  {% csrf_token %}
                  {% if conn_form.errors %}
                            <p style="color:red;">{{ conn_form.errors}}</p>
                  {% endif %}
                    <div class="row">
                      <div class="form-group col-md-6">
                          {{ conn_form.name|add_classes }}
                      </div>
                      <div class="form-group col-md-6">
                          {{ conn_form.delay|add_classes }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                          {{ conn_form.network_type|add_classes }}
                      </div>
                      <div class="form-group col-md-6">
                          {{ conn_form.qos|add_classes }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                          {{ conn_form.broker_host|add_classes }}
                      </div>
                      <div class="form-group col-md-6">
                          {{ conn_form.client_id|add_classes }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                          {{ conn_form.topic_publish|add_classes }}
                      </div>
                      <div class="form-group col-md-6">
                          {{ conn_form.topic_subscribe|add_classes }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                          {{ conn_form.user_login|add_classes }}
                      </div>
                      <div class="form-group col-md-6">
                          {{ conn_form.password|add_classes }}
                      </div>
                    </div>
                  <button type="submit" class="btn btn-primary m-b">Сохранить</button>
              </form>
          </div>
      </div>
        <div id="user" class="tab-pane">
            <div class="panel-body">
                <p>
                  -	Enabled<br>
                  -	Username<br>
                  -	Full name<br>
                  -	Email
                </p>
            </div>
        </div>
        <div id="vm" class="tab-pane">
                        <div class="panel-body">
                            <p>
                              -	Sensors type (Temperature/Humidity/Voltage)<br>
                              -	Variable types (Temperature/Level/Forecast)<br>
                              -	Metric type (None/Double/Binary)<br>
                              -	Unit (Температура/Влажность/Напряжение/Мощность)<br>
                              -	Unit sign (%/Ватт/км/ч)<br>
                              -	Graph settings
                            </p>
                        </div>
                    </div>
        <div id="System" class="tab-pane active">
          <div class="panel-body">
              <!--p>
                -	Интервал проверки доступности узлов -29 Минут<br>
                -	Интервал поиска узлов -45 Минут<br>
                -	Уровень логов Trace/Notice/Info/Warning/Error<br>
                -	Продолжительность хранения журналов ресурсов -60 минут<br>
                -	Автоматическая регистрация Узлов Включено/Отключено<br>
                -	Максимальное кол-во полей в таблицах  40 шт.<br>
                -	Язык интерфейса Русский/Английский<br>
                -	Формат времени 12/24 часа<br>
                -	Сообщение при входе<br>
              </p-->
              <form method="POST" action="{% url 'settings' %}">
              {% for i in settings_form%}              
              {% if i.name.value == 'timezone_for_console' %}
                    <div class="row">
                        <div class="form-group col-md-6">                              
                        <label class="control-label" for="id_name">{{i.rus_name.value}}:</label>                                      
                            <select name="timezone_for_console" class="form-control" maxlength="100" id="id_value">
                                <option value="{{ i.value.value }}">{{ i.value.value }}</option> 
                                {% for t in tz%}
                                <option value="{{ t }}">{{ t }}</option>  
                                {% endfor %}
                            </select>
                        </div>
                    </div>
              {% else %}  
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="id_name">{{i.rus_name.value}}:</label>                    
                        <input type="text" name="{{i.name.value}}" value="{{i.value.value}}" class="form-control" maxlength="100">
                    </div>
                </div>
              {% endif %}

              {% endfor %}              
              <button type="submit" class="btn btn-primary m-b">Сохранить</button>
            </form>
          </div>
      </div>
        </div>
  </div>
</div>
