

<div class="tabs-container">
    <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#users" aria-expanded="false">USERS</a></li>
            <li class=""><a data-toggle="tab" href="#nodes" aria-expanded="false">DEVICES</a></li>
            <li class=""><a data-toggle="tab" href="#unknown" aria-expanded="false"></a></li>
    </ul>
    <div class="tab-content">               
        <div id="users" class="tab-pane active">
            <div class="panel-body">
                    <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <div class="row" style="padding-bottom:10px;">
                                                <div class="col-xs-2">
                                                        <div class="input-group">                                                        
                                                            <label class="checkbox-inline"><input type="checkbox" value="">Select all</label>                                                      
                                                        </div>
                                                    </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" placeholder="введите email пользователя" class="input-sm form-control"> 
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-sm btn-primary">Найти</button> 
                                                    </span>
                                                </div>
                                            </div>  
                                            <div class="col-sm-2">
                                                    <span class="input-group-btn pull-right">
                                                            <button type="button" class="btn btn-sm btn-primary">Add</button> 
                                                    </span>
                                                </div>                                         
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">                                                
                                                <tbody>
                                                    {% for u in users %}
                                                    <tr>
                                                        <td>
                                                            <a href="#"><i class="fa fa-user-o"></i></a>
                                                            
                                                        </td>
                                                        <td><b>{{ u.name|default:"first name" }}</b><br>
                                                                {{ u.email }}
                                                        </td>                            
                                                        <td><b>{{u.city|default:"no locale"}}</b><br>
                                                            {{u.phones|default:"no phone"}}
                                                        </td>
                                                        <td><b>Messages</b><br>
                                                            <a href="#"><i class="fa fa-envelope-o"></i></a> | 
                                                            <a href="#"><i class="fa fa-mobile"></i></a> | 
                                                            <a href="#"><i class="fa fa-comment-o"></i></a>
                                                        </td>                                                                                                                           
                                                        <td>
                                                            <b>Devices | GNS</b><br>
                                                            <a href="#" id="gws{{u.pk}}" class="gate" role="button" data-toggle="modal" data-target="#gateway_modal" 
                                                            data-load-url="/console/gateway_modal?pk={{u.pk}}">
                                                                {{ u.gateways }} 
                                                            </a> | 
                                                            <a href="#" id="nodes{{u.pk}}" class="gate" role="button" data-toggle="modal" data-target="#gateway_modal" 
                                                            data-load-url="/console/gateway_modal?pk={{u.pk}}&mode=nodes">
                                                                {{ u.nodes }} 
                                                            </a>   | 
                                                            <a href="#" id="sensors{{u.pk}}" class="gate" role="button" data-toggle="modal" data-target="#gateway_modal" 
                                                            data-load-url="/console/gateway_modal?pk={{u.pk}}&mode=sensors">
                                                                {{ u.sensors }} 
                                                            </a>                                    
                                                        </td>
                                                        <!--td><a href="#" data-client="{{u.pk}}" data-toggle="modal" data-target="#addGateway">Add gateway</a></td-->                                                        
                                                     </tr>
                                                   {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal inmodal in" id="gateway_modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content fadeIn">
                                                            <div class="modal-body">
                                                              
                                                            </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                            <!--button type="button" class="btn btn-primary">Save changes</button-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                        
                                            <div class="modal-md modal-dialog inmodal in" id="addGateway" aria-hidden="true" style="display: none;">
                                                    <div class="modal-content">                                
                                                        <div class="modal-body">
                                                            <select class="form-control gateway-select" style="width: 75%" name="gateway">
                                                               {%for g in all_gateways %}
                                                                   <option value="{{ g.name }}">{{ g.name }}</option>
                                                               {% endfor %}  
                                                            </select>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                            <button type="button" data-client="" id="assignGateway" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>                              
            </div>
        </div>
    </div>         
</div>
