

<div class="tabs-container">
     <ul class="nav nav-tabs">
         <li class=""><a data-toggle="tab" href="#info" aria-expanded="true"> Information</a></li>
         <li class="active"><a data-toggle="tab" href="#Firmwares" aria-expanded="false">Firmwares</a></li>
         <li class=""><a data-toggle="tab" href="#servers" aria-expanded="false">External servers</a></li>
     </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane">
                        <div class="panel-body">
                            <strong>gateway #1</strong>
                            <p>some info about gateways</p>
                        </div>
                    </div>
        <div id="Firmwares" class="tab-pane active">
                        <div class="panel-body">
                            <div class="row">

                                    <div class="col-md-8">
                                    <div class="ibox float-e-margins" style="margin-bottom: 1px;">
                                            <div class="ibox-content" style="background: transparent; padding-bottom: 1px;">
                                                    <form id="form_upload" action="/firmware/upload" method="POST" enctype="multipart/form-data">
                                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                                <div class="form-control" data-trigger="fileinput">
                                                                    <i class="fa fa-file fileinput-exists"></i> 
                                                                    <span class="fileinput-filename"></span></div>
                                                                <span class="input-group-addon btn btn-default btn-file">
                                                                <span class="fileinput-new">Select file</span>
                                                                <span class="fileinput-exists">Change</span>
                                                                <input type="file" name="document">
                                                                </span>
                                                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                                <a href="#" id="upload_button" class="input-group-addon btn btn-default fileinput-exists">Upload</a>
                                                                <a href="#" style="display: none" id="delete_button" class="input-group-addon btn btn-danger">Delete</a>
                                                        </div>
                                                    </form>
                                            </div>
                                    </div>
                                    </div>
                            </div>

                            <!--div class="row">
                                <div class="col-md-4">
                                </div>
                            </div-->
                                <div class="row">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-content" style="background: transparent;">

                                                        <div id="jstree">
                                                            </div>
                                                </div>
                                        </div>
                                    </div>
                                
                        </div>
        </div>
        <div id="servers" class="tab-pane ">
          <div class="panel-body">
              <strong>node #1</strong>
              <p>some info about nodoes</p>
          </div>
      </div>
        </div>
  </div>
</div>
